/*------------------------------------------------------------------
[Table of contents]

1. Reset
2. Forms
3. Accordion
4. Grid
5. Logo
6. User Panel
7. Nav
8. Form Panel
9. Btn Sec
10. Login Panel
11. Right Panel
12. Alpha Paging
13. Calendar
14. Appointment
15. Search Google
16. Filter Section
17. Show Hide Feature
18. Change Settings
19. Submenu
20. WeatherList
21. LeftNav

-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[1. Reset]
*/
* {
    border-style: none;
    border-color: inherit;
    border-width: 0;
    margin: 0 1px 0 0;
    /*padding: 0;*/
}

a img {
    border: none;
}

:focus {
    outline: 0;
}

@font-face {
    font-family: 'barcode_fontregular';
    src: url('../fonts/barcodefont-webfont.eot');
    src: url('../fonts//barcodefont-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/barcodefont-webfont.woff2') format('woff2'), url('../fonts/barcodefont-webfont.woff') format('woff'), url('../fonts/barcodefont-webfont.ttf') format('truetype'), url('../fonts/barcodebarcodefont-webfont.svg#barcode_fontregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* typography.css */
html .ajax__tab_xp .ajax__tab_body, html {
    font-size: 100.01%;
}

    html .ajax__tab_xp .ajax__tab_body, body {
        font-size: 12px;
        color: #4d4a33;
        background: #1b1b1b;
        font-family: Arial, Helvetica, sans-serif;
    }

    html .ajax__tab_xp .ajax__tab_body {
        background: #ffffff;
    }

.myfont {
    font-family: 'barcode_fontregular';
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    color: #111;
}

h1 {
    font-size: 22px;
    line-height: 45px;
    height: 45px;
    font-weight: normal;
    margin: 0;
    padding: 0 0 0 25px;
    color: #fff;
    background: url(../img/main-header-bg.png) repeat-x;
    border-radius: 7px 7px 0 0;
}

    h1 b {
        padding: 0 0 0 18px;
        font-weight: normal;
    }

    h1 span {
        display: block;
        border-bottom: #000 10px solid;
        line-height: 35px;
        height: 35px;
        background: url(../img/h1-span-bg.png) no-repeat left;
        color: #000;
        font-size: 19px;
        padding: 0 0 0 18px;
    }

h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 13px 0 11px 47px;
}

h3 {
    font-size: 1.5em;
    line-height: 1;
    margin-bottom: 0;
}

h4 {
    font-size: 18px;
    line-height: 36px;
    height: 36px;
    color: #fff;
    padding: 0 11px;
    margin: 0;
    background: url(../img/h4-bg.png) repeat-x;
    border-radius: 5px 5px 0 0;
}

h5 {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 1.5em;
}

h6 {
    font-size: 15px;
    font-weight: normal;
    color: #88b500;
}

    h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
        margin: 0;
    }

p {
    margin: 0 0 1.5em;
}

.left {
    float: left !important;
}

p .left {
    margin: 1.5em 1.5em 1.5em 0;
    padding: 0;
}

.right {
    float: right !important;
}

p .right {
    margin: 1.5em 0 1.5em 1.5em;
    padding: 0;
}

a:focus, a:hover {
    color: #09f;
}

a {
    color: #06c;
    text-decoration: underline;
}

blockquote {
    margin: 1.5em;
    color: #666;
    font-style: italic;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

sup, sub {
    line-height: 0;
}

abbr, acronym {
    border-bottom: 1px dotted #666;
}

code {
    font: 1em 'Courier New', 'lucida console', monospace;
    line-height: 1.5;
}

li ul, li ol {
    margin: 0;
}

ul, ol {
    margin: 0 1.5em 1.5em 0;
    padding-left: 1.5em;
}

ul {
    list-style-type: disc;
}

ol {
    list-style-type: decimal;
}

hr {
    background: none;
    clear: both;
    width: 100%;
    height: 0;
    margin: 0;
    padding: 0;
    border: none;
    border-bottom: #ddd 1px solid;
}

.clr {
    clear: both;
}

.hide {
    display: none;
}

/*------------------------------------------------------------------
[2. Forms]
*/
label {
    font-weight: bold;
}

input[type=text], input[type=password], input[type=url], input[type=email], input.text, input.title, textarea {
    background-color: #fff;
    border: 1px solid #bbb;
    color: #000;
}

    input[type=text]:focus, input[type=password]:focus, input[type=url]:focus, input[type=email]:focus, input.text:focus, input.title:focus, textarea:focus {
        border-color: #666;
    }

select {
    background-color: #fff;
    border-width: 1px;
    border-style: solid;
}

input[type=text], input[type=password], input[type=url], input[type=email], input.text, input.title, textarea, select {
}

input.text, input.title {
    width: 300px;
    padding: 5px;
}

input.title {
    font-size: 1.5em;
}

textarea {
    /*height:250px;*/
    padding: 5px;
}

form.inline {
    line-height: 3;
}

    form.inline p {
        margin-bottom: 0;
    }

.error, .alert, .notice, .success, .info {
    padding: 10px 50px;
    margin: 10px 0;
    border: 2px solid #ddd;
    display: block;
}

.error, .alert {
    color: #8a1f11;
    border-color: #fbc2c4;
    background: #fbe3e4 url(../img/error.png) no-repeat 20px 10px;
}

.notice {
    background: #fff6bf;
    color: #514721;
    border-color: #ffd324;
}

.success {
    color: #006600;
    border-color: #c6d880;
    background: #e6efc2 url(../img/success.png) no-repeat 20px 10px;
}

.info {
    background: #d5edf8;
    color: #205791;
    border-color: #92cae4;
}

.error a, .alert a {
    color: #8a1f11;
}

.notice a {
    color: #514721;
}

.success a {
    color: #264409;
}

.info a {
    color: #205791;
}

/*------------------------------------------------------------------
[3. Accordion]
*/
.arrowlistmenu {
    width: 205px; /*width of accordion menu*/
}

.alpha_paging {
    margin-bottom: 10px;
}

.scroll_left_panel {
    overflow: auto;
    max-height: 350px;
}

.arrowlistmenu .menuheader {
    /*CSS class for menu headers in general (expanding or not!)*/
    font: normal 12px Arial;
    color: #000;
    background: url(../img/customer_icon.png) no-repeat;
    margin-bottom: 0px; /*bottom spacing between header and rest of content*/
    text-transform: uppercase;
    padding: 0 0 0 20px; /*header text is indented 10px*/
    line-height: 20px;
    cursor: hand;
    cursor: pointer;
    margin-left: 20px; /*text-shadow:1px 1px 1px #000;*/
}

.left_panel .menuheader a {
    background: none;
    color: #888;
    margin-left: 0;
    line-height: normal;
}

.arrowlistmenu .menuheader:hover {
    text-decoration: underline;
}

.arrowlistmenu .openheader {
    /*CSS class to apply to expandable header when it's expanded*/
    background-image: url(../img/titlebar-active.png);
}

.arrowlistmenu ul {
    /*CSS for UL of each sub menu*/
    list-style-type: none;
    margin: 0;
    padding: 0; /*margin-bottom: 8px; bottom spacing between each UL and rest of content*/
}

    .arrowlistmenu ul li {
        /*padding-bottom: 2px; bottom spacing between menu items*/
        line-height: 33px;
        background: #fff;
    }

        .arrowlistmenu ul li a {
            color: #A70303;
            background: url(../img/arrowbullet.png) no-repeat center left; /*custom bullet list image*/
            display: block;
            padding: 2px 0;
            padding-left: 35px; /*link text is indented 19px*/
            text-decoration: none;
            font-weight: bold;
            border-bottom: 1px solid #dadada;
            font: 13px arial;
            line-height: 33px;
        }

            .arrowlistmenu ul li a:visited {
                color: #A70303;
            }

            .arrowlistmenu ul li a:hover {
                /*hover state CSS*/
                color: #1b1b1b;
                background-color: #F3F3F3;
            }

/*------------------------------------------------------------------
[4. Grid]
*/
.grid_h {
    border-top: #ddd 2px solid;
    border-bottom: none;
    padding: 2px;
    border-bottom: #ddd 2px solid;
    margin-bottom: 5px;
}

.grid {
    border: #ccc 5px solid;
    padding: 0;
    overflow: auto;
    width: 99%;
    min-height: 0px;
    max-height: 475px;
}

    .grid th {
        border: #fff 1px solid;
        min-width: 40px;
        background: #ccc;
        padding: 5px;
        text-transform: capitalize;
    }

    .grid td {
        line-height: 24px;
        padding: 10px;
        text-align: left;
        min-height: 30px;
        border: #ccc 1px solid;
        border-top: none;
        border-bottom: none;
    }

.container {
    width: 98%;
    margin: 0 auto;
    position: relative;
    text-align: left;
}

.header {
    min-height: 200px;
    position: relative;
    min-width: 600px;
}

.content_panel {
    background: url(../img/dashboard-bg.png);
    border-radius: 7px;
    min-height: 400px;
    padding: 13px 13px 35px 13px;
    overflow:auto;
}

.footer_panel {
    line-height: 48px;
    color: #8b8b8b;
    font-size: 12px;
}

    .footer_panel a {
        color: #8b8b8b;
        text-decoration: none;
        border-bottom: #8b8b8b 1px solid;
    }

    .footer_panel ul {
        list-style-type: none;
        margin: 0 0 0 25px;
        padding: 0;
    }

        .footer_panel ul li {
            margin: 0 10px 0 0;
            padding: 0;
            float: left;
        }

.left_panel {
    width: 205px;
    min-height: 300px;
    float: left;
    background: #fff;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #a1a0a0;
    margin: 0;
    padding: 0;
}

    .left_panel a {
        display: block;
        line-height: 36px;
        margin: 10px 0;
        background: url(../img/titlebar.png) no-repeat;
        color: #fff;
        text-decoration: none;
        padding-left: 25px;
    }

        .left_panel a:hover {
            font-weight: bold;
        }

.right_panel {
    margin: 0;
    min-height: 200px;
    padding: 0 0 0 15px;
    background: url(../img/form-footer.png) repeat-x bottom;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 5px 2px #a1a0a0;
    float: left;
    width: 1060px;
}

/*------------------------------------------------------------------
[5. Logo]
*/
.logo {
    position: absolute;
    top: 23px;
    left: 36px;
}

/*------------------------------------------------------------------
[6. User Panel]
*/
.user_panel {
    height: 49px;
    background: url(../img/user-panel-bg.png) repeat-x;
    position: absolute;
    right: 0;
    top: 0;
    padding: 15px 20px;
    color: #fefefe;
    border-radius: 0 0 10px 10px;
    font-size: 13px;
}

    .user_panel a {
        color: #fefefe;
        text-decoration: none;
    }

        .user_panel a:hover {
            text-decoration: underline;
        }

    .user_panel span {
        color: #e55456;
    }

    .user_panel input[type=submit] {
        background: url(../img/btn-logout.png) no-repeat;
        width: 68px;
        height: 21px;
        text-indent: -9999px;
        cursor: pointer;
        margin-left: 16px;
    }

    .user_panel ul {
        list-style-type: none;
        margin: 9px 0 0 0;
        padding: 0;
        float: right;
        font-size: 12px;
    }

        .user_panel ul li {
            float: left;
            margin: 0 0 0 8px;
            padding: 0;
        }

/*------------------------------------------------------------------
[7. Nav]
*/
.nav {
    background: url(../img/nav-bg.png) repeat-x;
    height: 40px;
    top: 170px;
    border-radius: 5px;
    position: absolute;
    width: 100%;
}

    .nav ul {
        list-style-type: none;
        margin: 12px 0 0 5px;
        padding: 0;
    }

    .nav li {
        margin: 0;
        padding: 0 15px;
        float: left;
        line-height: 15px;
        border-right: #ccc 1px solid;
    }

        .nav li a {
            color: #fff;
            text-decoration: none;
            display: block;
            text-transform: uppercase;
            font-size: 12px;
        }

            .nav li a:hover {
            }
/*------------------------------------------------------------------
[8. Form Panel]
*/
.form_panel {
    background: #efeeee url(../img/form-bg.png) repeat-x top;
    min-height: 200px;
    border-top: #000 10px solid;
    padding: 10px 5px 50px;
}

    .form_panel ul {
        margin: 0 0 50px 0;
        padding: 0;
        list-style-type: none;
        overflow: auto;
    }

        .form_panel ul li {
            margin: 0 0 0 19px;
            padding: 0;
            width: 49%;
            float: left;
            border-right: #fff 1px solid;
        }

            .form_panel ul li.last {
                border-right: 0;
            }

            .form_panel ul li table {
                margin: 0 3%;
                width: 94%;
            }

                .form_panel ul li table tr td, .form_panel table tr td {
                    background: url(../img/line.png) bottom repeat-x;
                    padding: 10px 15px 12px 15px;
                    line-height: 15px;
                    min-height: 5px;
                    vertical-align: top;
                }

.shutter_proposal table tr td {
    height: auto;
}

.form_panel ul li table tr td label, .form_panel table tr td label {
    width: 33%;
    display: inline-block;
    margin-right: 2%;
    padding-top: 5px;
    font-weight: normal; /*vertical-align:top;*/
}

.form_panel ul li table.no_line td, .form_panel table.no_line td {
    background: none;
    padding: 0;
    line-height: 20px;
    border: 0;
}

    .form_panel ul li table.no_line td label, .form_panel table.no_line td label {
        padding: 0;
        width: auto;
        margin-left: 5px;
        padding-top: 0;
        vertical-align: baseline;
    }

.form_panel table.proposal_list td {
    padding: 0 0 185px 0;
}

    .form_panel table.proposal_list td label {
        font-weight: bold;
    }

.form_panel ul li table tr td label span, .form_panel table tr td label span {
    color: #F00;
}

.form_panel ul li table tr td input, .form_panel ul li table tr td textarea, .form_panel ul li table tr td select {
    padding: 5px;
    margin: 0;
    border-radius: 5px;
    border: #b5b4b4 1px solid;
}

.form_panel ul li table tr td.textarea {
    height: 130px;
}

.btn_sec {
    text-align: center;
}

    .btn_sec input, .btn_sec a, #Button5 {
        background: url(../img/btn.png) no-repeat;
        line-height: 39px;
        padding: 0;
        color: #fff;
        font-weight: bold;
        font-size: 16px;
        margin: 5px 10px;
        cursor: pointer;
        text-decoration: none;
        display: inline-block;
        border-radius: 10px;
        box-shadow: 0 0 10px #a1a0a0;
    }

.form_panel_custom {
    background: #efeeee url(../img/form-bg.png) repeat-x top;
    min-height: 200px;
    border-top: #000 10px solid;
    padding: 0 5px;
}

    .form_panel_custom ul {
        margin: 0 0 50px 0;
        padding: 0;
        list-style-type: none;
        overflow: auto;
    }

        .form_panel_custom ul li {
            margin: 0;
            padding: 0;
            width: 37%;
            float: left;
            border-right: #fff 1px solid;
        }

            .form_panel_custom ul li.last {
                border-right: 0;
                width: 25%;
            }

            .form_panel_custom ul li table {
                margin: 0 3%;
                width: 100%;
                /*height: 210px;*/
            }

                .form_panel_custom ul li table tr td {
                    background: url('../img/line.png') repeat-x 50% bottom;
                    padding: 10px 15px 12px 15px;
                }

                    .form_panel_custom ul li table tr td label {
                        width: 26%;
                        display: inline-block;
                        margin-right: 2%;
                        padding-top: 5px;
                        font-weight: normal;
                        vertical-align: top;
                    }

                        .form_panel_custom ul li table tr td label span {
                            color: #F00;
                        }

                    .form_panel_custom ul li table tr td input, .form_panel_custom ul li table tr td textarea, .form_panel_custom ul li table tr td select {
                        padding: 5px;
                        border-radius: 5px;
                        border: #b5b4b4 1px solid;
                        margin-left: 0;
                        margin-right: 0;
                        margin-bottom: 0;
                    }

.list_limit {
    max-height: 150px;
    overflow: auto;
    margin: 0;
    padding: 0;
    border: #ccc 2px solid;
    position: relative;
    background: #fff;
}

    .list_limit div {
        padding: 5px !important;
    }

/*-- Tree View --*/

.tree-view table tr td {
    background: none;
}

#TreeView1 {
    padding-left: 85px;
}

    #TreeView1 table {
        padding: 30px 85px 0 0;
    }

        #TreeView1 table tr td {
            background: none;
        }
/*.tree-view h2 { background:c9c9c9; height:30px; line-height:30px; text-align:left; padding-left:15px; }*/
/*------------------------------------------------------------------
[9. Btn Sec]
*/
.pdf_btn_sec {
    text-align: center;
}

.pdf_btn_sec {
    background: url(../img/review.png) no-repeat;
    width: 213px !important;
    height: 48px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    margin: 0;
    cursor: pointer;
    border: none !important;
}

.sold_btn_sec {
    text-align: center;
}

.sold_btn_sec {
    background: url(../img/sold.png) no-repeat;
    width: 65px !important;
    height: 25px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    margin: 0;
    cursor: pointer;
    border: none !important;
}

.edit_btn_sec {
    text-align: center;
}

.edit_btn_sec {
    background: url(../img/edit.png) no-repeat;
    width: 65px !important;
    height: 25px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    margin: 0;
    cursor: pointer;
    border: none !important;
}

/*------------------------------------------------------------------
[10. Login Panel]
*/
.login_right_panel {
    margin: 0 auto;
    min-height: 200px;
    padding: 0 0 26px 0;
    background: url(../img/form-footer.png) repeat-x bottom;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 5px 2px #a1a0a0;
    width: 550px;
}

.login_header {
    height: 20px;
    color: #fff;
    /*background-color: #AA4143;*/
}

.login_form_panel {
    background: #efeeee url(../img/form-bg.png) repeat-x top;
    min-height: 200px;
    border-top: #000 10px solid;
    padding: 0 5px;
}

    .login_form_panel ul {
        margin: 0 0 0 0;
        padding: 0;
        list-style-type: none;
        overflow: auto;
    }

        .login_form_panel ul li {
            margin: 0;
            padding: 0;
            width: 99%;
            float: left;
            border-right: #fff 0px solid;
        }

            .login_form_panel ul li.last {
                border-right: 0;
            }

            .login_form_panel ul li table {
                margin: 0 3%;
                width: 94%;
            }

                .login_form_panel ul li table tr td {
                    background: url(../img/line.png) bottom repeat-x;
                    padding: 10px 15px 12px 15px;
                }

                    .login_form_panel ul li table tr td label {
                        width: 26%;
                        display: inline-block;
                        margin-right: 2%;
                        padding-top: 5px;
                        font-weight: normal;
                        vertical-align: top;
                        line-height: 8px;
                    }

                        .login_form_panel ul li table tr td label span {
                            color: #F00;
                        }

                    .login_form_panel ul li table tr td input, .login_form_panel ul li table tr td textarea, .login_form_panel ul li table tr td select {
                        padding: 5px;
                        margin: 0;
                        border-radius: 5px;
                        border: #b5b4b4 1px solid;
                        line-height: 14px;
                    }

.login_checkbox {
    width: auto !important;
    margin-left: 170px !important;
}

    .login_checkbox input {
        width: auto !important;
    }

.ui-accordion .form_panel_custom ul {
    margin: 0 !important;
}

.ui-accordion .form_panel_custom {
    border-top: none;
}

/*------------------------------------------------------------------
[11. Right Panel]
*/
.right_panel .ui-state-default .ui-icon {
    background-image: url(../img/btn_maximize.png ) !important;
    background-position: 0 0 !important;
    margin-top: -5px !important;
    margin-left: 5px !important;
}

.right_panel .ui-state-active .ui-icon {
    background-image: url(../img/btn-minus.png ) !important;
    background-position: 0 0 !important;
    margin-top: -5px !important;
    margin-left: 5px !important;
}

/*------------------------------------------------------------------
[12. Alpha Paging]
*/
.alpha_paging a {
    padding: 2px 4px;
    margin: 1px;
    width: 10px;
    display: inline-block;
    background: #555;
    color: #fff;
    text-decoration: none;
    border-radius: 2px;
    line-height: 15px;
}

    .alpha_paging a:hover {
        background: #888;
        color: #000;
    }

/*------------------------------------------------------------------
[13. Calendar]
*/
.ajax__calendar, .ajax__calendar td {
    background: none !important;
    padding: 0 !important;
}

.calendar {
    background: #fff;
}

/*------------------------------------------------------------------
[14. Appointment]
*/
.appointment_tab {
    /*position: absolute;*/
    float: right;
    top: 197px;
    right: 11px;
    list-style-type: none;
    margin: 0;
    padding: 5px;
    font-size: 14px;
}

    .appointment_tab li {
        float: left;
        margin: 0 0 0 5px;
    }

        .appointment_tab li a {
            display: block;
            line-height: 35px;
            color: #000;
            text-decoration: none;
            background: #fff;
            padding: 0 10px;
            border-radius: 5px 5px 0 0;
        }

            .appointment_tab li a:hover, .appointment_tab li a.active {
                background: #000;
                color: #fff;
            }

            .appointment_tab li a.active {
                cursor: default;
            }

/*------------------------------------------------------------------
[15. Search Google]
*/
.search_google {
    position: absolute;
    top: 175px;
    right: 20px;
    width: 400px;
}

    .search_google input[type=text] {
        width: 275px;
        padding: 5px;
        border-radius: 5px 0 0 5px;
        color: #666;
        font-size: 14px;
    }

    .search_google input[type=submit] {
        width: 100px;
        border-radius: 0 5px 5px 0;
        line-height: 28px;
        background: #A33E3F;
        color: #fff;
        cursor: pointer;
    }

/*------------------------------------------------------------------
[16. Filter Section]
*/
.filter_section {
    padding: 0 10px;
}

    .filter_section input[type=text] {
        width: 98%;
        padding: 5px 2px;
    }

    .filter_section select {
        padding: 5px 2px;
        width: 75%;
    }

    .filter_section .search_btn {
        width: 39px;
        vertical-align: middle;
    }

#ContentPlaceHolder1_mpevendorcatelog_backgroundElement, #ContentPlaceHolder1_Mpedeletecategory_backgroundElement, #ContentPlaceHolder1_mpetopshutter_backgroundElement, #ContentPlaceHolder1_mdeaddshuttercolor_backgroundElement, #ContentPlaceHolder1_mpeshutteraccessories_backgroundElement {
    background: #000;
    opacity: 0.7;
}

#ContentPlaceHolder1_pnlpopup table, #ContentPlaceHolder1_pnlpopup2 table, #ContentPlaceHolder1_pnlpopupshuttercolor table, #ContentPlaceHolder1_pnlpopupshutteraccessories table {
    margin: 0;
}

/*------------------------------------------------------------------
[17. Show Hide Feature]
*/
.show_hide {
    margin: 15px 0 0 25px;
}

    .show_hide h3 span {
        display: inline-block;
        min-width: 350px;
    }

    .show_hide h3 a {
        font-size: 12px;
        margin: 5px 10px;
    }

    .show_hide .span_click {
        cursor: pointer;
        background: url(../img/btn_maximize.png ) no-repeat !important;
        background-position: 0 5px !important;
        padding: 0 0 0 20px;
        line-height: 24px;
    }

        .show_hide .span_click.down {
            background: url(../img/btn-minus.png) no-repeat !important;
            background-position: 0 5px !important;
        }

    .show_hide .sub {
        margin: 20px 0 20px 20px;
    }

        .show_hide .sub .span_click {
            cursor: pointer;
            background: url(../img/plus.png ) no-repeat !important;
            background-position: 0 2px !important;
            padding: 0 0 0 20px;
            line-height: 18px;
            margin-top: 10px;
        }

            .show_hide .sub .span_click.down {
                background: url(../img/minus.png ) no-repeat !important;
                background-position: 0 2px !important;
            }

        .show_hide .sub .sub {
            margin: 20px 0 20px 0;
        }

/*------------------------------------------------------------------
[18. Change Settings]
*/
.no_width {
    width: auto !important;
}

.no_margin {
    margin: 0 !important;
}

/*------------------------------------------------------------------
[19. Submenu]
*/
.submenu {
    float: right;
    background: none;
    border: 0;
    margin: 0 25px 0 0;
}

    .submenu a {
        color: #fff;
        font-size: 14px;
        text-decoration: none;
        margin: 0 10px;
    }

        .submenu a:hover {
            text-decoration: underline;
        }

/*------------------------------------------------------------------
[20. WeatherList]
*/
ul.weather_list {
    list-style-type: none;
    float: left;
}

/*------------------------------------------------------------------
[21. LeftNav]
*/
ul.left_nav {
    list-style-type: none;
}

    ul.left_nav li {
        margin: 0 0 5px;
    }

        ul.left_nav li a {
            display: block;
            line-height: 36px;
            margin: 0;
            background: url(../img/titlebar.png) no-repeat;
            color: #fff;
            text-decoration: none;
            padding: 0 0 0 25px;
            border: none;
        }

            ul.left_nav li a:visited {
                color: #fff;
            }

            ul.left_nav li a:hover {
                color: #fff;
                font-weight: bold;
            }

        ul.left_nav li ul {
            background: #a13f3e;
        }

            ul.left_nav li ul li {
                margin: 0;
            }

                ul.left_nav li ul li a {
                    background: #a13f3e;
                    border-bottom: #ca7875 1px solid;
                    margin: 0;
                    padding: 0 0 0 35px;
                }

                    ul.left_nav li ul li a:hover {
                        background: #7e2726;
                    }

.MultiFile-wrap {
    display: inline-block;
}

    .MultiFile-wrap .multi {
        width: 95%;
    }

.odd {
    background: #fff;
}

.even {
    background: #eeeeee;
}

.FixedHeader {
    position: absolute;
    font-weight: bold;
}

/*CSS Modification*/

.vendorFilter table tr td select, .vendorFilter table tr td input {
    padding: 5px !important;
    margin: 0 !important;
    border-radius: 5px !important;
    border: #b5b4b4 1px solid !important;
}

.pnlDeleteVendor table tr td select, .pnlDeleteVendor table tr td input {
    padding: 5px !important;
    margin: 0 !important;
    border-radius: 5px !important;
    border: #b5b4b4 1px solid !important;
}

.vendorForm ul li table tr td label {
    width: auto;
    display: inline-block;
    margin-right: 2%;
    padding-top: 5px;
    font-weight: normal; /*vertical-align:top;*/
}

.vendorForm ul li table tr td {
    width: 25%;
}

.vendor_table, #tblVendorLocation {
    width: 100% !important;
    margin: 0px !important;
    border-collapse: collapse;
}

    .vendor_table tr {
        width: 100% !important;
        margin: 0px !important;
    }

        .vendor_table tr td {
        }

    #tblVendorLocation td {
        background: none !important;
    }

.newAddressrow td {
    border-bottom: 1px solid #ddd;
}

#tblSecEmail, #tblPrimaryEmail, #tblAltEmail {
    width: 100% !important;
    margin: 0px !important;
    border-collapse: collapse;
}

    #tblSecEmail td, #tblPrimaryEmail td, #tblAltEmail td {
        background: none !important;
    }


.btn_sec input[type="submit"] {
    background: url(../img/btn.png) no-repeat;
    line-height: 39px;
    padding: 0px 10px 0px 10px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    margin: 5px 10px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 0 0 10px #a1a0a0;
}

#categoriesList {
    height: 500px;
    width: 800px;
    overflow: auto;
}

    #categoriesList table tr td label {
        width: 100%;
        display: inline-block;
        margin-right: 2%;
        padding-top: 5px;
        font-weight: normal;
    }

.form_panel table tr td input {
    padding: 5px !important;
    margin: 0 !important;
    border-radius: 5px !important;
    border: #b5b4b4 1px solid !important;
}

.tasklist {
    overflow: auto;
    max-height: 165px;
    margin-left: 220px !important;
    width: 75%;
    position: relative;
    z-index: 9;
}

    .tasklist a {
        color: #fefefe;
    }

    .tasklist .searchbtn {
        vertical-align: middle;
        width: 39px;
    }

.fullwidth {
    width: 100%;
}

.mtop5 {
    margin-top: 5px;
}

.mbot5 {
    margin-bottom: 5px;
}

.ajax__html_editor_extender_container {
    background-color: white;
    margin-bottom: 10px;
    max-width: 755px;
}

.taskHtmlContent {
    padding: 2px 2px 2px 2px;
    border: 1px solid #c2c2c2;
    background-color: white;
    height: 150px;
    overflow: auto;
}

.tasklistfieldset {
    border-width: 1px;
    border-style: solid;
    border-color: darkgrey;
    padding: 5px;
}

table tr.trHeader th,
table.table tr.FirstRow td,
table.table tr.AlternateRow td,
table.table tr.dark-gray-background td {
    border-right: 1px solid #FFF;
    padding: 5px;
}

table tr.trPager td,
table tr.trFooter td {
    padding: 5px;
}

.valigntop {
    vertical-align: top;
}

.block-link-container a {
    display: block;
    line-height: 20px;
    height: 20px;
}

a.page_enabled, a.page_enabled:hover, a.page_enabled:active {
    text-decoration: underline;
    font-weight: bold;
    color: blue;
}

a.page_disabled, a.page_disabled:hover, a.page_disabled:active {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

input.fz, .fz > input {
    outline: 2px solid !important;
    outline-offset: 1px !important;
}

input.fz-admin, .fz-admin > input {
    outline-color: red !important;
}

input.fz-techlead, .fz-techlead > input {
    outline-color: black !important;
}

input.fz-user, .fz-user > input {
    outline-color: blue !important;
}

.cke_textarea_inline {
    display: block;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    border: #b5b4b4 1px solid;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 5px;
}

.deleted-task-bg {
    background: gray !important;
    background-color: gray !important;
}

.closed-task-bg, .closed-task-bg a {
    background: black !important;
    background-color: black !important;
    color: white !important;
}

.RadScheduler .rsHeader {
    z-index: 6 !important;
}

.btnCommon {
    text-align: center;
    background: url(../img/btn.png) no-repeat;
    line-height: 39px;
    padding: 0;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    margin: 0px 10px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 0 0 10px #a1a0a0;
}

.yellowthickborder {
    animation: blink 1s step-end infinite alternate;
}

@keyframes blink {
    50% {
        background-color: yellow;
    }
}


.task-assigned, .task-requested {
    border: 2px solid red;
}

.task-inprogress, .task-pending, .task-reopened {
    border: 2px solid yellow;
}

.task-open.task-with-priority {
    border: 2px solid green;
}

.bluetext {
    color: blue !important;
}

.redtext {
    color: red !important;
}

.haligncenter {
    text-align: center;
}

.noborder {
    border: none !important;
}

.FirstRow h5 {
    margin: 0 0 0 0;
}

.AlternateRow h5 {
    margin: 0 0 0 0;
}

.yellowbackground {
    background-color: yellow;
}

.nooverflow {
    overflow: inherit !important;
}

.chosen-container .chosen-results li,
.chosen-container-multi .chosen-choices li {
    width: auto;
    float: none;
}

.pagination-ys {
    padding-left: 0;
    margin: 5px 0;
    border-radius: 4px;
    align-content: flex-end;
    line-height: none !important;
}

    .pagination-ys td {
        border: none !important;
    }

    .pagination-ys table > tbody {
        height: unset !important;
    }

        .pagination-ys table > tbody > tr > td {
            display: inline !important;
            background: none;
            border: none !important;
        }

            .pagination-ys table > tbody > tr > td > a,
            .pagination-ys table > tbody > tr > td > span {
                position: relative;
                float: left;
                padding: 8px 12px;
                line-height: 1.42857143;
                text-decoration: none;
                color: #dd4814;
                background-color: #ffffff;
                border: 1px solid #dddddd;
                margin-left: -1px;
            }

            .pagination-ys table > tbody > tr > td > span {
                position: relative;
                float: left;
                padding: 8px 12px;
                line-height: 1.42857143;
                text-decoration: none;
                margin-left: -1px;
                z-index: 2;
                color: #aea79f;
                background-color: #f5f5f5;
                border-color: #dddddd;
                cursor: default;
            }

            .pagination-ys table > tbody > tr > td:first-child > a,
            .pagination-ys table > tbody > tr > td:first-child > span {
                margin-left: 0;
                border-bottom-left-radius: 4px;
                border-top-left-radius: 4px;
            }

            .pagination-ys table > tbody > tr > td:last-child > a,
            .pagination-ys table > tbody > tr > td:last-child > span {
                border-bottom-right-radius: 4px;
                border-top-right-radius: 4px;
            }

            .pagination-ys table > tbody > tr > td > a:hover,
            .pagination-ys table > tbody > tr > td > span:hover,
            .pagination-ys table > tbody > tr > td > a:focus,
            .pagination-ys table > tbody > tr > td > span:focus {
                color: #97310e;
                background-color: #eeeeee;
                border-color: #dddddd;
            }

    .scroll tr {
        display: flex;
    }

    .scroll td {
        border-spacing: 0px !important;
        padding: 3px !important;
        flex: 1 auto;
        word-wrap: break-word;
        background: none !important;
        padding: 3px 0 0 0 !important;
        line-height: none !important;
    }

    .scroll thead tr:after {
        content: '';
        overflow-y: scroll;
        visibility: hidden;
        height: 0;
    }

    .scroll thead th {
        flex: 1 auto;
        display: block;
        padding: 2px;
        background-color: #ccc;
    }

.scroll thead th:first-child {
border-top-left-radius: 4px;
}
.scroll thead th:last-child {
border-top-right-radius: 4px;
}
.scroll tfoot td {
flex: 1 auto;
display: block;
}

    .scroll > thead > tr > th,
    .scroll > tbody > tr > th,
    .scroll > tfoot > tr > th,
    .scroll > thead > tr > td,
    .scroll > tbody > tr > td,
    .scroll > tfoot > tr > td {
        border: 1px solid #ddd;
    }

    .scroll > thead > tr > th,
    .scroll > thead > tr > td {
        border-bottom-width: 2px;
    }

    .scroll tbody {
        display: block;
        width: 100%;
        overflow-y: auto;
        height: 400px;
    }

.display_none{
    display:none !important;
}